src/main/text/core_lex.csv filter=lfs diff=lfs merge=lfs -text
src/main/text/matrix.def.zip filter=lfs diff=lfs merge=lfs -text
src/main/text/notcore_lex.csv filter=lfs diff=lfs merge=lfs -text
src/main/text/small_lex.csv filter=lfs diff=lfs merge=lfs -text
